
.page {
  max-width: 880px;
  padding: 45px 19px 60px;
  box-sizing: content-box;
  margin: auto;
  background-color: #000;
  font-family: Inter, Helvetica;
}

@media screen and (max-width: 320px) {
  .page {
    padding: 28px 0 36px;
  }
}

/* * {border: solid red 1px} */