
.info__name {
  width: fit-content;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}

@media screen and (max-width: 320px) {
  .info__name {
    font-size: 22px;
    line-height: 1.2;
  }
}