
.img-popup__close {
  width: 56px;
  height: 56px;
  position: absolute;
  top: -48px;
  right: -48px;
  background-color: transparent;
  background-image: url(../../../images/x-button.svg);
  border: none;
  transition: opacity .2s ease;
}

.img-popup__close:hover {
  opacity: .6;
  cursor: pointer;
}