
.modal__body {
  width: min(100%, 430px);
  margin: 19px;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
}

@media screen and (max-width: 320px) {
  .modal__body {
    max-width: 282px;
    padding: 25px 22px;
  }
}