
.info {
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .info {
    margin-top: 30px;
  }
}