
.avatar {
  width: 120px;
  margin: 0;
  border-radius: 50%;
}

@media screen and (max-width: 785px) {
  .avatar {
    width: 75px;
  }
}

@media screen and (max-width: 410px) {
  .avatar {
    width: 120px;
  }
}